@import "table.css";
@import "comboBox.css";
@import "scrollbar.css";

.btn:hover{
    -fx-cursor: hand;
}

#navContainer .toolBar .text-field{
    -fx-background-color: #68945b;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ececec;
}

.text-field-clear{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: #ececec;
}

.text-field-clear:hover{
    -fx-background-color: RGBA(255,255,255,0.25);
}


.alert{
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-border-color: transparent;
}

#navContainer .toolBar{
    -fx-background-color: #3d6333;
    -fx-padding: 16px;
    -fx-border-color: transparent;
}

.menuVbox .button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menuVbox .button:hover{
    -fx-background-color: #68945b;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.btn-link:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

.btn-primary2{
    -fx-background-color: #1b66f7;
    -fx-text-fill: white;
}

.btn-primary2:hover{
    -fx-background-color: #164db4;
    -fx-text-fill: white;
}

.btn-clear{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.btn-clear:hover{
    -fx-background-color: RGBA(255,255,255,0.25);
    -fx-cursor: hand;
}